body,html{
    height: 100%;
    margin: 0;
    padding: 0;
}
.wrap{
    overflow: hidden;
    box-sizing: border-box;
    height: 100%;
    border: 1px double black;
}
.wrap div{
    height: 100%;
    float: left;
}
.menu{
    width: 250px;
    background-color: #4b0082;
    color: white;
}
.content{
    padding: 15px;
}