body,html{
    height: 100%;
    margin: 0;
    padding: 0;
}
.wrap{
    box-sizing: border-box;
    height: 100%;
    border: 1px double black;
    display: flex;
}
.menu{
    width: 250px;
    background-color: #4b0082;
    color: white;
}
.content{
    flex:1 1 auto;
    padding: 15px;
}