html,body{
    margin: 0;
    height: 100%;
}
.wrapper{
    height: 100%;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    grid-template-columns: 1fr 2fr 1fr;
}
.wrapper > div{
    border: 5px solid red;
    display: flex;
    justify-content: space-around;
}
.shapka{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
}
.left{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}
.center{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}
.right{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}
.footer{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
}